# Sensors #

## Sensor Manager - Default is SensorManagerUncensored
io.onemfive.sensors.SensorManager=io.onemfive.sensors.SensorManagerUncensored

## Sensors - Default is I2P
io.onemfive.sensors.Sensor=io.onemfive.i2p.I2PSensor,HIGH,100

## Peer Manager - Default is GraphPeerManager
io.onemfive.sensors.peers.PeerManager=io.onemfive.sensors.peers.GraphPeerManager

# 1M5 Configurations

## Min Peers Tracked - the point at which Discovery process goes into 'hyper' mode.
onemfive.sensors.MinPT=${onemfive.sensors.MinPT}

## Max Peers Tracked - the total number of Peers to attempt to maintain knowledge of
onemfive.sensors.MaxPT=${onemfive.sensors.MaxPT}

## Max Peers Sent - Maximum number of peers to send in a peer list (the bigger a datagram, the less chance of it getting through).
onemfive.sensors.MaxPS=${onemfive.sensors.MaxPS}

## Max Acknowledgments Tracked
onemfive.sensors.MaxAT=${onemfive.sensors.MaxAT}

## Update Interval - the minutes between Discovery process
onemfive.sensors.UI=${onemfive.sensors.UI}

## Reliable Peer Min Acks
onemfive.sensors.MinAckRP=${onemfive.sensors.MinAckRP}

## Super Reliable Peer Min Acks
onemfive.sensors.MinAckSRP=${onemfive.sensors.MinAckSRP}

# Sensor-Specific Configurations (network|value format)

## Seeds
onemfive.sensors.seeds=${onemfive.sensors.seeds}

## Banned
onemfive.sensors.banned=${onemfive.sensors.banned}